body{
  margin: 0;
  max-width: 100%;
}.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  
}
.container .card-stack {
  width: 650px;
  height: 60px;
  position: absolute;
  margin: 20px auto;
}
.input-wrapper{
  display: flex;
  align-items: center!important;
  justify-content: center!important;
}
.input-wrapper .cardInput{
  width: 55%;
  height: 45px;
  margin-right: 10px;
  border-radius: 33px;
  border-width: 0.2px;
  border-color: #F4F5F5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  margin-top: 7px;
}
.input-wrapper .nextBtn{
  width: 18%;
  height: 45px;
  border-radius: 20px;
  border-width: 0.2px;
  border-color: #F6BD27;
  background-color: #F6BD27;
  color: #fff;
}
.input-wrapper .nextBtn:hover{
  cursor: pointer;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
}
.container .card-stack .buttons:hover {
  transform: scale(1.3, 1.3);
}

.container .card-stack .card-list {
  width: 300px;
}
.container .card-stack .card-list input[type=text] {
  transition: all 100ms ease-in-out;
  position: absolute;
  width: 55%;
  margin-right: 10px;
  border-radius: 33px;
  border-width: 0.2px;
  border-color: #F4F5F5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  height: 41px;
  -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.3);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: left;
  background-size: cover;
}
.container .card-stack .card-list input[type=text]:nth-child(1) {
  top: 35px;
  width: 60%;
  /* animation: scaleCard 100ms; */
}
.container .card-stack .card-list input[type=text]:nth-child(2) {
  top: 46px;
  width: 70%;
}
.container .card-stack .card-list input[type=text]:nth-child(3) {
  top: 60px;
  width: 80%;
}
.container .card-stack .card-list input[type=text]:nth-child(4) {
  top: 40px;
  width: 90%;
}
.container .card-stack .card-list input[type=text]:nth-child(5) {
  top: 50px;
  width: 100%;
}
.container .card-stack:hover > .buttons.prev {
  display: block;
  animation: bounceInLeft 200ms;
}
.container .card-stack:hover > .buttons.next {
  display: block;
  animation: bounceInRight 200ms;
}
.transformThis {
  animation: scaleDown 500ms;
}
.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}
@keyframes scaleUp {
  0% {
    transform: scale(1.2) translateY(50px);
    opacity: 0;
  }
  20% {
    transform: scale(1.15) translateY(40px);
    opacity: 0.1;
  }
  40% {
    transform: scale(1.1) translateY(30px);
    opacity: 0.2;
  }
  60% {
    transform: scale(1.05) translateY(20px);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.01) translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  20% {
    transform: scale(1.01) translateY(20px);
    opacity: 0.8;
  }
  40% {
    transform: scale(1.05) translateY(40px);
    opacity: 0.4;
  }
  60% {
    transform: scale(1.1) translateY(60px);
    opacity: 0.2;
  }
  80% {
    transform: scale(1.15) translateY(80px);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.2) translateY(100px);
    opacity: 0;
  }
}
@keyframes scaleCard {
  0% {
    top: 5px;
  }
  100% {
    top: 24px;
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}
